<html>
  <head>

	<script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>
	$document.ready(
	    function(){
	        document.getElementById("status_red").innerHTML = "unknown";
	         document.getElementById("status_yellow").innerHTML = "unknown";
	    }
	    )
	function postdataRED(){
	$.get("/invert?key=led1", function(data,status){
	//alert("Data: " + data +"\nStatus: " + status);
	    document.getElementById("status_red").innerHTML = data;
	});
	}

	function postdataYELLOW(){
	$.get("/invert?key=led2", function(data,status){
	//alert("Data: " + data +"\nStatus: " + status);
	    document.getElementById("status_yellow").innerHTML = data;
	});
	}


	</script>
  <style>
	img.logo
	{
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
	</style>

  </head>
  <body>

     <img class="logo" src="{{url_for('static',filename='brcmlogo.png')}}" alt="Broadcom_Logo"></img>
    <h1 align="center"> WICED SMART APPLIANCE DEMO APPLICATION</h1>


    <div id="top-row" align="center">
    <span id="first_img"><img class="lamp" src="{{url_for('static',filename='lamp.png')}}" alt="lamp"></img></span>
    <span id="second_img"><img class="coffee" src="{{url_for('static',filename='coffee.png')}}" alt="coffee"></img></span>
    </div>
    <div id="bottom-row" align="center">
     <span id="first_app"><button onclick="postdataRED()">RED LED</button></span>
     <span id="second_app"><button onclick="postdataYELLOW()">YELLOW LED</button></span>
    </div>
     <p>Status of Red LED: <span id="status_red"> </span></p>
     <p>Status of Yellow LED: <span id="status_yellow"> </span></p>
  </body>
</html>