<html>
  <head>

	<script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>
	$document.ready(
	    function(){
	        document.getElementById("status").innerHTML = "unknown";
	    }
	    )
	function postdata(){
	$.get("/invert?key=led", function(data,status){
	//alert("Data: " + data +"\nStatus: " + status);
	    document.getElementById("status").innerHTML = data;
	});
	}
	</script>
  <style>
	img.logo
	{
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
	</style>

  </head>
  <body>
    <img class="logo" src="https://s3.amazonaws.com/WICED/Images/brcmlogo.png" alt="Broadcom_Logo" >
    <h1 align="center"> WICED SMART APPLIANCE DEMO APPLICATION</h1>
    <p align="center">Click the button, then check the UART and the LED</p>
     <button onclick="postdata()">RED LED</button>
     <p>Status of LED: <span id="status"> </span></p>
  </body>
</html>