<!DOCTYPE html>
<head>
<script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>

var current = 1;
function changeImage(){
    switch (current){
        case 0:
            document.getElementById("img0").style="visibility:visibile;";
            document.getElementById("img1").style="visibility:hidden;";
            break;
        case 1:
            document.getElementById("img1").style="visibility:visible;";
            document.getElementById("img0").style="visibility:hidden;";
            break;
    }


   current = (current + 1) %2;
}





</script>
<style>
.imageWrapper{
        position: relative;
}

.overlayImage{
    position: absolute;
    top: 0;
    left: 0;
}
</style>

<body>
<div class="imageWrapper" onclick="changeImage()">
    <img class = "overlayImage" id="img0" src="{{url_for('static',filename='lamp.png')}}" alt ="lamp">
    <img class = "overlayImage" id="img1" src="{{url_for('static',filename='coffee.png')}}" alt = "coffee">
</div>


</body>
</html>